<h1> Enter your login details </h1>

<form action ="/logged_in" method="post">
  <input type="text" name="name">
  <br>
  <input type="text" name="email_address">
  <br>
  <input type="text" name="password">
  <br>
  <input type="text" name="password_confirmation">
  <br>
  <input type="submit" value="Submit">
</form>
