<h1> Enter your login details </h1>

<form action ="/links" method="post">
  <input type="text" name="email_address" placeholder="Enter your email address" required>
  <br>
  <input type="text" name="password" placeholder="Enter your password" required>
  <br>
  <input type="submit" value="Submit">
</form>
